<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Driver Signup</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css" media="screen">
   
</head>
<body>
    <!...navigation bar...!>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="index.html">logout</a>
    </div><hr>
    <div class="container">
        <h1>Ride My Way</h1><hr>
        <div id="welcome">
            <p>This is a car pooling application that provides drivers with the ability to create ride offers and passengers to join available offers. Welcome to the world of simplicity... </p>
        </div>  
    </div>
    <!...login form...!>
    <form class="content">     
            <h2>Login</h2><hr/>
            
            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter email" name="email" required>
          
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <!...login button directs to either driver.html or passenger.html depending on the choice that was made during registration...!>
            <a href="Driver.html"><button type="button" class="btn">Login as driver</button></a>
            <a href="Passenger.html"><button type="button" class="btn">Login as passenger</button></a>

        <p><a href="signup.html"><button type="button" class="btnn">Not yet registered? please signup</button></a>
        </p>
    </form>
</body>
</html>