<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
 
    <script lang="javascript"></script>
    <title>Passenger</title>
</head>
<body>  
        <div class="topnav">
            <a href="index.html">logout</a>
            <a href="passengerProfile.html">My Profile</a>
        </div>
            <br><br><br>

        
        <div class="view" id="2">
                <b></b><br>
                <b></b><br>
                <b></b><br>
            <b>View Available Ride Offers</b></b><hr/>
                  
                <div class="card">
                      <p>Car number plate: UAX 327V</p> 
                      <p>Stage : City square</p> 
                      <p>Departure time: 12.45pm</p> 
                      <p>Destination: Mukono</p>
                      <p>Via: Nakawa-kireka-Banda<p/>
                      <p>Price: 15000</p>
                      <hr/>
                      <button>
                          <i class="fa fa-accept"> <b>Accept</b></i>
                      </button>
                </div><br>
                  
                <div class="card">
                      <p>Car number plate: UBA 117X</p> 
                      <p>Stage : Namboole</p> 
                      <p>Departure time: 10.00pm</p> 
                      <p>Destination: Wandegeya</p>
                      <p>Via: Kireka-Banda-Nakawa-Lugogo<p/>
                      <p>Price: 18000</p>
                      <hr/>
                      <button>
                          <i class="fa fa-accept"> <b>Accept</b></i>
                      </button>
                </div><br>

                <div class="card">
                      <p>Car number plate: UAD 203Y</p> 
                      <p>Stage : Ntinda</p> 
                      <p>Departure time: 11.45am</p> 
                      <p>Destination: Kampala</p>
                      <p>Via: Bukotoa-kamokya-Wandegeya<p/>
                      <p>Price: 22000</p>
                        <hr/>
                        <button>
                            <i class="fa fa-accept"><b>Accept</b></i>
                        </button><br>
                </div>
                  
        </div>
         
    </body>
</html>