<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/styles.css" rel="stylesheet" type="text/css" media="screen">
    <title>Requests</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="index.html">Home</a>
        <a href="index.html">logout</a>
    </div>
    <!...view passenger requests...!>
    <div class="view">
        View Passenger requests
        <hr/>
            
            <div class="card">
                    
                <h4><b>Passenger request:</b></h4> 
                <p>3 minutes ago</p> 
                <p> Full name: Okitoi Noah </p> 
                <p>Tel: 0703673645</p>
                <hr/>
                <button>
                    <i class="fa fa-accept"> Accept</i>
                </button>
                <button>
                    <i class="fa fa-reject"> Reject</i>
                </button>
            
            </div><br>
            <div class="card">
                <h4><b>Passenger request:</b></h4> 
                <p>17 minutes ago</p> 
                <p> Full name: Sera Nandawula </p> 
                <p>Tel: 0703673645</p>
                <hr/>
                <button>
                    <i class="fa fa-accept"> Accept</i>
                </button>
                <button>
                    <i class="fa fa-reject"> Reject</i>
                </button>
            </div>
            <div class="card">
                <h4><b>Passenger request:</b></h4> 
                <p>22 minutes ago</p> 
                <p> Full name: Kijja Edwin </p> 
                <p>Tel: 0703673645</p>
                <hr/>
                <button>
                    <i class="fa fa-accept"> Accept</i>
                </button>
                <button>
                    <i class="fa fa-reject"> Reject</i>
                </button>
            </div>
            <div class="card">
                <h4><b>Passenger request:</b></h4> 
                <p>28 minutes ago</p> 
                <p> Full name: Matovu Allan </p> 
                <p>Tel: 0703673645</p>
                <hr/>
                <button>
                     <i class="fa fa-accept"> Accept</i>
                </button>
                <button>
                     <i class="fa fa-reject"> Reject</i>
                </button>
            </div>
        </div>
    
</body>
</html>